<a href="https://colab.research.google.com/github/GomesFM/Exercicios_Python/blob/main/PRATICA_2_MODULO_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividades desenvolvidas durante a segunda aula do modulo 2 do curso de data science da Alura

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
soma = sum(lista)
tamanho = len(lista)
maior = max(lista)
menor = min(lista)

print(f'A lista possui {tamanho} numeros, o maior numero da lista é o {maior}, o menor numeor da lista é o {menor} e soma de todos os numeros da lista é igual a {soma}!')

A lista possui 17 numeros, o maior numero da lista é o 99, o menor numeor da lista é o 11 e soma de todos os numeros da lista é igual a 743!

In [ ]:
def tabuada(valor):
  for i in range(1,11):
    mult = valor * i
    print(f'{valor} X {i} = {mult}')

numero = int(input('Digite o numero que deseja saber a tabuada: '))
tabuada(numero)

Digite o numero que deseja saber a tabuada: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [ ]:
def multiplo_tres(lista):
  multiplos = []
  for numero in lista:
    if numero % 3 == 0:
      multiplos.append(numero)
  return multiplos

numeros = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
multiplos = multiplo_tres(numeros)
multiplos

[24, 99]

In [ ]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
quadrados = list(map(lambda x: pow(x, 2), valores))
quadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
notas = []
for i in range(5):
  nota = float(input('Digite a nota da manobra: '))
  notas.append(nota)

notas.remove(max(notas))
notas.remove(min(notas))

media = round(sum(notas) / len(notas),2)

print(f'Nota da Manobra: {media}')

Digite a nota da manobra: 8.6
Digite a nota da manobra: 8.7
Digite a nota da manobra: 8.1
Digite a nota da manobra: 9.1
Digite a nota da manobra: 8.5
Nota da Manobra: 8.6

In [ ]:
def desempenho(lista):
  maior = max(lista)
  menor = min(lista)
  media = round(sum(lista) / len(lista),1)
  if media >= 7:
    situacao = 'Aprovado(a)'
  else:
    situacao = 'Reprovado(a)'
  return f'O estudante obteve média de {media}, com a maior nota sendo {maior} e a menor nota sendo {menor}. O estudante esta {situacao}'

notas = [7.2, 6.5, 5.1, 4.6]
desempenho(notas)

'O estudante obteve média de 5.8, com a maior nota sendo 7.2 e a menor nota sendo 4.6. O estudante esta Repovado(a)'

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

concatenacao = list(map(lambda x, y: (x + ' ' + y).title(), nomes, sobrenomes))
concatenacao

['João Silva', 'Maria Souza', 'José Tavares']

In [ ]:
def calcula_pontos(lista_gp, lista_gc):
  pontos = 0
  saldos = list(map(lambda x, y: x - y, lista_gp, lista_gc))
  for saldo in saldos:
    if saldo > 0:
      pontos += 3
    elif saldo == 0:
      pontos += 1
    else:
      pass
  aproveitamento = round((100 * (pontos / (len(lista_gp)*3))),2)
  return f'Atualmente a equipe esta com {pontos} pontos. O aproveitamento é de {aproveitamento}% dos pontos disputados!'

gols_marcados = [2, 1, 3, 1, 4]
gols_sofridos = [1, 0, 2, 0, 3]

calcula_pontos(gols_marcados,gols_sofridos)

'Atualmente a equipe esta com 15 pontos. O aproveitamento é de 100.0% dos pontos disputados!'

In [ ]:
def gasto_hotel(diaria, dias):
  hospedagem = round((diaria * dias),2)
  return hospedagem

def gasto_gasolina(consumo, preco, distancia):
  gasolina_cidade = []
  for dist in distancia:
    gasto = round((((dist / consumo) * preco) * 2), 2)
    gasolina_cidade.append(gasto)
  return gasolina_cidade

def gasto_passeio(custo_passeio, dias):
  passeio_cidade = []
  for passeio in custo_passeio:
    gasto = round((passeio * dias), 2)
    passeio_cidade.append(gasto)
  return passeio_cidade

cidades = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']
diaria_hotel = 150
consumo_gasolina = 14
preco_gasolina = 5
alimentacao_dia = [200, 400, 250, 300]
distancia_cidades = [850, 800, 300, 550]

dias = int(input('Insira a quantidade de dias da viagem: '))

gasto_hospedagem = gasto_hotel(diaria_hotel,dias)
gasto_translado = gasto_gasolina(consumo_gasolina,preco_gasolina,distancia_cidades)
gasto_atividades = gasto_passeio(alimentacao_dia,dias)

print('Segue abaixo a tabela comparativa entre quatro cidades, partindo de Recife:\n')
print(f"{'Cidade'.ljust(20)} | {'Custo de Hospedagem'.ljust(20)} | {'Custo da Alimentação'.ljust(20)} | {'Custo do Translado'.ljust(20)} | {'Total'.ljust(20)}")
print(f"{''.ljust(20)} | {''.ljust(20)} | {''.ljust(20)} | {''.ljust(20)} | {''.ljust(20)}")
for i in range(len(cidades)):
  total = gasto_hospedagem + gasto_atividades[i] + gasto_translado[i]
  print(f'{cidades[i].ljust(20)} | {str(gasto_hospedagem).ljust(20)} | {str(gasto_atividades[i]).ljust(20)} | {str(gasto_translado[i]).ljust(20)} | {str(total).ljust(20)}')

Insira a quantidade de dias da viagem: 5
Segue abaixo a tabela comparativa entre quatro cidades, partindo de Recife:

Cidade               | Custo de Hospedagem  | Custo da Alimentação | Custo do Translado   | Total
                     |                      |                      |                      |
Salvador             | 750                  | 1000                 | 607.14               | 2357.14
Fortaleza            | 750                  | 2000                 | 571.43               | 3321.43
Natal                | 750                  | 1250                 | 214.29               | 2214.29
Aracaju              | 750                  | 1500                 | 392.86               | 2642.86

In [ ]:
frase = input('Digite uma frase: ')
frase = frase.replace('.',' ')
frase = frase.replace(',',' ')
frase = frase.replace('!',' ')
frase = frase.replace('?',' ')
lista_frase = frase.split(' ')
lista_frase
palavras_cinco = list(filter(lambda x: len(x) >= 3, lista_frase))
palavras_cinco

Digite uma frase: Aprender Python aqui na Alura é muito bom

['Aprender', 'Python', 'aqui', 'Alura', 'muito', 'bom']