<a href="https://colab.research.google.com/github/GomesFM/Exercicios_Python/blob/main/PRATICA_5_MODULO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividades praticas propostas na aula 5 de python para data science

In [ ]:
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
soma = sum(lista)
numero_itens = len(lista)
media = soma/numero_itens
print(f'A madia dos valores gastos com papel na empresa é {media}, a soma valor total foi {soma} em {numero_itens} compras')

A madia dos valores gastos com papel na empresa é 3144.222, a soma valor total foi 31442.22 em 10 compras

In [ ]:
numero_compras = 0
soma_parcial = 0

for item in lista:
  if item > 3000:
    numero_compras += 1
    soma_parcial += item

porcentagem = (soma_parcial/soma)*100
print(f'Foram feitas {numero_compras} acima de R$3000,00, totalizando {porcentagem}% do total gasto')

Foram feitas 7 acima de R$3000,00, totalizando 76.68421631805896% do total gasto

In [ ]:
lista = []
for i in range(1,6):
  numero = int(input('Digite um numero inteiro: '))
  lista.append(numero)

lista

Digite um numero inteiro: 9
Digite um numero inteiro: 15
Digite um numero inteiro: 21
Digite um numero inteiro: 3
Digite um numero inteiro: 37

[9, 15, 21, 3, 37]

In [ ]:
lista = []
for i in range(1,6):
  numero = int(input('Digite um numero inteiro: '))
  lista.append(numero)

print(f'A lista invertida é {lista[::-1]}')

Digite um numero inteiro: 3
Digite um numero inteiro: 1
Digite um numero inteiro: 47
Digite um numero inteiro: 101
Digite um numero inteiro: 4
A lista invertida é [4, 101, 47, 1, 3]

In [ ]:
numero = int(input('Digite um numero: '))
lista = [1]
for num in range(2,numero+1):
  primo = True
  for teste in range(2,num):
    if num % teste == 0:
      primo = False
      break
  if primo:
    lista.append(num)

lista

Digite um numero: 19

[1, 2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mes: '))
ano = int(input('Digite o ano: '))
lista_meses_31 = [1, 3, 5, 7, 8, 10, 12]
lista_meses_30 = [4, 6, 9, 10]
if mes in lista_meses_31:
  if dia > 31 or dia < 1:
    print('A data é invalida!')
  else:
    print('A data é valida!')
elif mes in lista_meses_30:
  if dia > 30 or dia < 1:
    print('A data invalida!')
  else:
    print('A data é valida!')
elif mes == 2:
  if dia > 29 or dia < 1:
    print('A data  invalida')
  elif dia == 29:
    if ano%4 == 0:
      print('A data é valida!')
    else:
      print('A data é invalida!')
  else:
    print('A data é valida!')
else:
  print('A data é invalida!')

Digite o dia: 04
Digite o mes: 05
Digite o ano: 1993
A data é valida!

In [ ]:
bacterias_dia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentagem_crescimento = []
for i in range(1,len(bacterias_dia)):
  porcentagem = 100 * ((bacterias_dia[i]-bacterias_dia[i-1])/bacterias_dia[i-1])
  porcentagem_crescimento.append(porcentagem)
porcentagem_crescimento

[75.00000000000001,
 57.14285714285713,
 51.51515151515152,
 55.99999999999999,
 44.87179487179488,
 46.902654867256636,
 51.20481927710843,
 50.59760956175297,
 50.52910052910053]

In [ ]:
id_produto = []
id_doce = []
id_amargo = []
for i in range (1, 11):
  id = int(input('Digite o ID do produto: '))
  while id < 1:
    id = int(input('ID incorreto! Digite o ID novamente: '))
  id_produto.append(id)
  if id%2 == 0:
    id_doce.append(id)
  else:
    id_amargo.append(id)

print(f'Foram inseridos {len(id_produto)} produtos, dos quais {len(id_doce)} são doces e {len(id_amargo)} são amargos.')

Digite o ID do produto: -1
ID incorreto! Digite o ID novamente: 1
Digite o ID do produto: 5
Digite o ID do produto: 9
Digite o ID do produto: 2
Digite o ID do produto: 0
ID incorreto! Digite o ID novamente: 6
Digite o ID do produto: 78
Digite o ID do produto: 12
Digite o ID do produto: 16
Digite o ID do produto: 7
Digite o ID do produto: 3
Foram inseridos 10 produtos, dos quais 5 são doces e 5 são amargos

In [ ]:
gabarito = ['d', 'a', 'c', 'b', 'a', 'd', 'c', 'c', 'a', 'b']
resposta_posivel = ['a', 'b', 'c', 'd']
i = 1
acertos = 0
for resposta in gabarito:
  resposta_aluno = input(f'Insira a resposata da {i}a pergunta: ')
  resposta_aluno = resposta_aluno.lower()
  while resposta_aluno not in resposta_posivel:
    resposta_aluno = input(f'Verifique sua respota e insira novalente a resposta da {i}a pergunta: ')
  resposta_aluno = resposta_aluno.lower()
  if resposta_aluno == resposta:
    acertos += 1
  i += 1

print(f'A nota do aluno foi {acertos}!')

Insira a resposata da 1a pergunta: a
Insira a resposata da 2a pergunta: b
Insira a resposata da 3a pergunta: d
Insira a resposata da 4a pergunta: c
Insira a resposata da 5a pergunta:
Verifique sua respota e insira novalente a resposta da 5a pergunta: c
Insira a resposata da 6a pergunta: d
Insira a resposata da 7a pergunta: c
Insira a resposata da 8a pergunta: a
Insira a resposata da 9a pergunta: b
Insira a resposata da 10a pergunta: d
A nota do aluno foi 2!

In [ ]:
temperaturas_mensais = []
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

for mes in meses:
  temperatura = float(input(f'Digite a temperatura média para o mes de {mes}: '))
  temperaturas_mensais.append(temperatura)

media_anual = sum(temperaturas_mensais)/len(temperaturas_mensais)

i = 0

for temperaturas in temperaturas_mensais:
  if temperaturas > media_anual:
    print(f'O mês de {meses[i]} teve temperatura acima da média anual, com temperatura média mensal de {temperaturas}°C.')
  i += 1

Digite a temperatura média para o mes de Janeiro: 1
Digite a temperatura média para o mes de Fevereiro: 2
Digite a temperatura média para o mes de Março: 3
Digite a temperatura média para o mes de Abril: 4
Digite a temperatura média para o mes de Maio: 5
Digite a temperatura média para o mes de Junho: 6
Digite a temperatura média para o mes de Julho: 7
Digite a temperatura média para o mes de Agosto: 8
Digite a temperatura média para o mes de Setembro: 9
Digite a temperatura média para o mes de Outubro: 10
Digite a temperatura média para o mes de Novembro: 11
Digite a temperatura média para o mes de Dezembro: 12
O mês de Julho teve temperatura acima da média anual, com temperatura média mensal de 7.0°C.
O mês de Agosto teve temperatura acima da média anual, com temperatura média mensal de 8.0°C.
O mês de Setembro teve temperatura acima da média anual, com temperatura média mensal de 9.0°C.
O mês de Outubro teve temperatura acima da média anual, com temperatura média mensal de 10.0°C.
O mês de Novembro teve temperatura acima da média anual, com temperatura média mensal de 11.0°C.
O mês de Dezembro teve temperatura acima da média anual, com temperatura média mensal de 12.0°C.

In [ ]:
produtos = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
mais_vendas = 0
vendas = 0

for valor in produtos.values():
  vendas += valor
  if valor > mais_vendas:
    mais_vendas = valor

for chave, valor in produtos.items():
  if valor == mais_vendas:
    produto_mais_vendido = chave

print(f'Foram feitas {vendas} vendas, com o {produto_mais_vendido} sendo o mais vendido!')

Foram feitas 920 vendas, com o Produto A sendo o mais vendido!

In [ ]:
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}
total_votos = 0
mais_votos = 0

for valor in votos.values():
  total_votos += valor
  if valor > mais_votos:
    mais_votos = valor

for chave, valor in votos.items():
  if valor == mais_votos:
    vencedor = chave

porcentagem = (mais_votos/total_votos) * 100

print(f'No total foram computados {total_votos} votos, sagrando o {vencedor} como vencedor com {porcentagem}% dos votos')

No total foram computados 6088 votos, sagrando o Design 5 como vencedor com 29.747043363994745% dos votos

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
salario_abono = {}
for salario in salarios:
  abono = salario * 0.1
  if abono < 200:
    abono = 200
  salario_abono[salario] = abono

total_abono = 0
maior_abono = 0
abono_minimo = 0
for valor in salario_abono.values():
  total_abono += valor
  if valor == 200:
    abono_minimo += 1
  if valor > maior_abono:
    maior_abono = valor

print(f'No total foram gastos R${total_abono} de abono.')
print(f'{abono_minimo} funcionarios receberam o abono minimo.')
print(f'O maior abono foi de R${maior_abono}.')

No total foram gastos R$6087.8 de abono.
2 funcionarios receberam o abono minimo.
O maior abono foi de R$790.3000000000001.

In [ ]:
biodiversidade = {'Área Norte': [2819, 7236],
                  'Área Leste': [1440, 9492],
                  'Área Sul': [5969, 7496],
                  'Área Oeste': [14446, 49688],
                  'Área Centro': [22558, 45148]}
maior_diversidade = 0
for chave, valor in biodiversidade.items():
  media = sum(valor)/len(valor)
  print(f'A média de espécies da {chave} é de {media}.')
  if sum(valor) > maior_diversidade:
    maior_diversidade = sum(valor)
    area = chave

print(f'A {area} tem a maior biodiversidade, contando com {maior_diversidade} .')

A média de espécies da Área Norte é de 5027.5.
A média de espécies da Área Leste é de 5466.0.
A média de espécies da Área Sul é de 6732.5.
A média de espécies da Área Oeste é de 32067.0.
A média de espécies da Área Centro é de 33853.0.
A Área Centro tem a maior biodiversidade, contando com 67706 espécies

In [ ]:
setor_idade = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
               'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
               'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
               'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

idade_media_setor = []
for chave, valor in setor_idade.items():
  media_setor = sum(valor)/len(valor)
  print(f'A idade média do {chave} é de {media_setor} anos.')
  idade_media_setor.append(media_setor)

media_geral = sum(idade_media_setor)/len(idade_media_setor)
print(f'A média de idade de todos os setores é de {media_geral} anos.')

idade_acima_media = 0
for idades in setor_idade.values():
  for idade in idades:
    if idade > media_geral:
      idade_acima_media += 1

print(f'De todos os setores, {idade_acima_media} pessoas tem idade maior do que a média geral.')

A idade média do Setor A é de 39.9 anos.
A idade média do Setor B é de 42.3 anos.
A idade média do Setor C é de 35.8 anos.
A idade média do Setor D é de 36.5 anos.
A média de idade de todos os setores é de 38.625 anos.
De todos os setores, 18 pessoas tem idade maior do que a média geral.