<a href="https://colab.research.google.com/github/GomesFM/Exercicios_Python/blob/main/PRATICA_3_MODULO_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividades desenvolvidas durante a terceira aula do modulo 2 do curso de data science da Alura

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

somas = [round(sum(lista),2) for lista in lista_de_listas]

for soma in somas:
  print(f'A soma dos itens da lista é igual a {soma}')

A soma dos itens da lista é igual a 24
A soma dos itens da lista é igual a 10
A soma dos itens da lista é igual a 16

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

pesos = [lista_de_tuplas[i][2] for i in range(len(lista_de_tuplas))]
pesos

[81, 67, 83]

In [ ]:
nomes = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
nomes_modificado = []

for i in range(len(nomes)):
  nomes_modificado.append((i, nomes[i]))

nomes_modificado

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

apartamentos = [aluguel[i][1] for i in range(len(aluguel)) if aluguel[i][0] == 'Apartamento']

apartamentos

[1700, 1400, 1900]

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesas = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

gastos_mensais = {mes: despesa for mes, despesa in zip(meses, despesas)}
gastos_mensais

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

selecao_vendas = [vendas[i] for i in range(len(vendas)) if vendas[i][0] == '2022' and vendas[i][1] > 6000]

selecao_vendas

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
glicemia_rotulada = []

for item in glicemia:
  if item <= 70:
    glicemia_rotulada.append(('Hipolglicemia',item))
  elif 70 < item <= 99:
    glicemia_rotulada.append(('Normal',item))
  elif 100 <= item <= 125:
    glicemia_rotulada.append(('Alterada',item))
  else:
    glicemia_rotulada.append(('Diabetes',item))

glicemia_rotulada

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipolglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipolglicemia', 65),
 ('Hipolglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipolglicemia', 53),
 ('Hipolglicemia', 58),
 ('Normal', 92),
 ('Hipolglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipolglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipolglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

tabela_vendas = [('id', 'quantidade', 'preco', 'total')]

for i in range(len(id)):
  total = quantidade[i] * preco[i]
  tabela_vendas.append((id[i], quantidade[i], preco[i], total))

tabela_vendas

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
sao_paulo = []
rio_janeiro = []
minas_gerais = []
espirito_santo = []

for item in estados:
  if item == 'SP':
    sao_paulo.append(item)
  elif item == 'RJ':
    rio_janeiro.append(item)
  elif item == 'MG':
    minas_gerais.append(item)
  else:
    espirito_santo.append(item)

estados_separados = [sao_paulo, rio_janeiro, minas_gerais, espirito_santo]

filiais = {estados_separados[i][0]: len(estados_separados[i]) for i in range(len(estados_separados))}
filiais

[['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['RJ', 'RJ'], ['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES']]

{'SP': 8, 'RJ': 2, 'MG': 7, 'ES': 6}

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

total_funcionarios = []
estados_unicos = list(set(tupla[0] for tupla in funcionarios))

for estado in estados_unicos:
  funcionarios_estado = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
  total_funcionarios.append(funcionarios_estado)

funcionarios_estados = {estados_unicos[i]: total_funcionarios[i] for i in range(len(estados_unicos))}
print(funcionarios_estados)

funcionarios_estados_soma = {estados_unicos[i]: sum(total_funcionarios[i]) for i in range(len(estados_unicos))}
print(funcionarios_estados_soma)

{'RJ': [13, 9], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14], 'MG': [9, 6, 4, 8, 5, 10, 12]}
{'RJ': 22, 'SP': 82, 'ES': 58, 'MG': 54}